<h2>Crear producto</h2>

<form [formGroup]="formProducto" (ngSubmit)="guardarProducto()">
    <div>
        <mat-form-field appearance ="outline" class="w-100">
            <mat-label>Nombre producto</mat-label>
            <input matInput>
          </mat-form-field>
          @if(controls['nombre'].invalid && controls['nombre'].errors && (controls['nombre'].dirty || controls['nombre'].touched)){

          }
    </div>
    <div>
        <mat-form-field appearance ="outline" class="w-100">
            <mat-label>Descripción producto</mat-label>
            <textarea matInput></textarea>
          </mat-form-field>
    </div>

    <div class="row">
        <div class="col-md-6">
            <mat-form-field appearance ="outline" class="w-100">
                <mat-label>Precio</mat-label>
                <input matInput>
              </mat-form-field>
        </div>

        <div class="col-md-6">
            <input type="file" name="imagen" id="imagen">
        </div>
    </div>

    <div class="text-center">
        <button mat-flat-button color="primary">Guardar</button>

    </div>
</form>